* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container_fluid{
  margin-bottom: 300px; 
} 

.container{
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-weight: bold;
}

.policy_table a {
    color: black;
}

.main_img_header {
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
}

.display_hide {
  display: none;
}

.display_show {
  display: "";
}

.border_default {
  border: 1px solid black;
}

/* main{
  margin: 60px 150px 100px;
  padding: 20px 150px;
} */

.policy_large_title {
  color: rgb(93, 175, 93);
  /* float: left; */
  display: block;
  font-size: 1.7em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin: 10px 0;
}

/*  */
.search_box_inner {
  /* margin-top: 20px; */
  width: 100%;
  display: flex;
  padding: 15px 0px;
  /* justify-content: space-between; */
}

.search_box_inner select,
.search_box_inner input[type="text"] {
  outline: none;
  border: none;
  border-bottom: 2px solid #57af57;
}

.search_box_inner button {
  outline: none;
  border: 2px solid #57af57;
  width: 100%;
  height: 40px;
  font-weight: bold;
  background: white;
}

.search_box_inner button:hover {
  background: #57af57;
  color: white;
}

/*  */
.select_area {
  width: 65%;
  margin-right: 1%;
}

#select_si_do,
.select_sigungu {
  width: 47%;
  height: 40px;
  padding: 0 5px;
  margin-right: 1%;
}

.select_sigungu {
  margin-right: 0%;
}


.search_text_box {
  width: 25%;
  height: 40px;
}

#search_text {
  width: 100%;
  height: 40px;
}

.search_submit_box {
  width: 8%;
  height: 40px;
  margin-left: 1%;
}

.policy_box {
  margin-top: 20px;
}

.policy_info_title_box {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 10px;
}

.policy_small_title {
  color: black;
  display: block;
  font-size: 1.7em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin: 10px 0;
}

.policy_count {
  height: max-content;
}

.margin_button_10 {
  margin-bottom: 10px;
}

.policy_list_box{
  margin-top: 10px;
  border-radius: 10px;
}

.policy_table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  border-style: hidden;
  box-shadow: 0 0 0 3px #595959;
  padding: 10px 0px;
  overflow: hidden;
  font-size: 1.5rem;
  white-space: nowrap;
}

.policy_list{
  border: 2px solid #595959;
  border-radius: 10px;
  overflow: hidden;
  overflow-x:auto;
}

.policy_table thead {
  background: #e2f5e2;
  /* border-bottom: 2px solid #ddd; */
}

.policy_table tr {
  border: 2px solid #595959;
}

.policy_table th,
.policy_table tr,
.policy_table td {
  padding: 10px 7px;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}

.policy_tr {
  height: 50px;
}

.policy_detail {
  display: inline-block;
  padding: 2px 6px;
  border: 2px solid black;
  border-radius: 15px;
}

img {
  width: 20px;
  height: 20px;
}

#modal_box {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#modal_box.active {
  display: flex;
}

#modal_contents {
  background-color: #fff;
  width: 800px;
  height: 600px;
  padding-top: 20px;
  border-radius: 5px;
  position: relative;
  overflow-x: auto;
}

#modal_contents button {
  background-color: #fff;
  color: #ccc;
  font-size: 20px;
  border: none;
  outline: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

#modal_contents{
  
}



#modal_desc {
  padding-top: 20px;
  margin: 5px;
}

#modal_title {
  text-align: center;
  margin-bottom: 10px;
}

.policy_modal_table {
  font-size: large;
  /* border: 1px solid black; */
  border-radius: 15px;
  box-shadow: 0 0 0 2px #595959;
  /* white-space: nowrap; */
  border-collapse: collapse;
  margin: 0 auto;
  width: 600px;
  height: 400px;
}

@media (max-width : 425px) {
  #modal_box{width: 320px;}
  .policy_modal_table{width: 280px;}
}


.policy_modal_table th,
.policy_modal_table tr,
.policy_modal_table td {
  font-size: large;
  border-bottom: 1px solid black;
  padding: 3px;
  text-align: center;
}

.policy_modal_table th{
  border-right: 1px solid black;
}

.policy_text {
  cursor: pointer;
}


/* ------------------------------------------------ */
.main_img_header{
  width: 100%;
  height: 250px;
  position: relative;
  margin-bottom: 20px;
}

.header_img{
  /* width: 100%;
  height: 250px; */
  background-size: cover;
  background: url(../img/non.jpg) center 0 / 1200px repeat-x;
  animation: movebg 40s linear infinite;
}

@keyframes movebg {
  0% {background-position: 0 center;}
  100% {background-position: -500px center;}
}
.main_img{
  width: 100%;
  height: 250px;
  /* background-size: cover; */
  object-fit: cover;
}

/* html {
  font-size: 62.5%;
} */

.header_title{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bold;
  font-size: 7rem;
  /* font-size: 5vw; */
  text-shadow: 10px 10px 8px #595959;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  /* z-index: 10; */
}

.header_title:hover {
  color: #fff;
  text-decoration: none;
}
/* -------------------------------------------------- */

@media (max-width : 769px) {
  .header_title{font-size: 2.5rem;}
  .policy_table{font-size: 1.1rem;}
  .policy_small_title {font-size: 1.5rem;}
  .policy_large_title{font-size: 1.7rem;}
  #search_button{font-size: 12px;}
  #search_text::placeholder{font-size: 14px;}
  .xs_font{font-size: 14px;}
  .xs_font option{font-size: 14px;}
}

.mt-7{
  margin-top: 10rem !important;
}

.pagination{
  display: flex;
  justify-content:center;
  margin-top: 10px;
}

#prevPage{
  margin-right: 10px;
  padding: 2px 5px;
  border: 0;
}

#nextPage{
  padding: 2px 5px;
  border: 0;
}

#pageButtons button{
  margin-right: 10px;
  padding: 2px 5px;
  border: 0;
}

.pagination button:hover{
  background: #7ea338;
  color: white;
}

.pageButton:visited,
.currentPageButton {
  background: #7ea338;
  color: white;
}
