.main_img_header{
    width: 100vw;
    height: 250px;
    position: relative;
    margin-bottom: 30px;
    /* font-size: 7rem; */
  }
  
  .header_img{
    /* width: 100vw;
    height: 250px; */
    background: url(../img/non.jpg) center 0 / 1200px repeat-x;
    animation: movebg 40s linear infinite;
  }
  
  @keyframes movebg {
    0% {background-position: 0 center;}
    100% {background-position: -500px center;}
    
  }
  .main_img{
    width: 100%;
    height: 250px;
    /* background-size: cover; */
    object-fit: cover;
  }
  
  .header_title_box{
    
  }
  
  .header_title{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: bold;
    font-size: 7rem;
    text-shadow: 10px 10px 8px #595959;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
    /* z-index: 10; */
  }
  
  .header_title:hover {
    color: #fff;
    text-decoration: none;
  }
  
  .